body{
  background-color: yellow;
  font-family: 'Concert One', cursive;
  color:#4F3C0E;
  background: #FEF17F url("../img/bg_tile-8.png") repeat top left;
}

li {
  padding: 15px;
  margin: 15px;
  background: #ffffff;
  list-style: none;
}

.center {
	text-align: center;
}

body { 
	background-color: #dad601;  
}

